$main-bg-color = rgb(241, 242, 245)

.personal-page
  position relative
  width: 100%
  height: 100%

  .personal-introduction
    position: relative
    width 100%
    height: 200px
    box-shadow 0 1px 3px rgba(0, 0, 0, 0.12)

  .main-content
    display flex
    justify-content space-between
    position: relative
    width 100%
    height calc(100% - 200px)
    padding: 10px
    background-color $main-bg-color

    .nav-wrap
      max-height calc(100% - 100px)
      width: 200px
      background-color #fff
      box-shadow 0 1px 3px rgba(0, 0, 0, 0.12)
      border 1px solid #f2f2f2
      border-radius: 4px

      .nav-list
        border none

    .article-wrap
      position relative
      min-height 100%
      width: calc(100% - 210px)
      overflow-y auto
      background-color: #fff
      border-radius: 4px

      .toolbar-wrap
        position sticky
        top 0
        right 0
        display flex
        align-items center
        justify-content flex-end
        width: 100%
        height 50px
        padding: 0 15px
        border-bottom 1px dashed #ddd