.user-info-container
  position relative
  width 100%
  height 200px
  background-image:  url('../assets/imgs/user-bg.jpg')
  background-size: cover

  .user-avatar
    position: absolute
    left: 15%
    top: 50%
    transform: translateY(-50%)
    height: 120px
    width: 120px
    z-index: 999

  .user-info
    position relative
    top: 110px
    bottom: 0
    width: 100%
    height: 90px
    background-color: #fff
    padding-left: calc(15% + 130px)

    .user-name
      height: 45px
      line-height: 45px
      font-weight 700
      font-size: 24px

    .user-description
      height: 45px
      font-size: 16px
      word-break: break-all
      width: 450px
      overflow: hidden
      text-overflow: ellipsis
      white-space: wrap
